@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* Set scrollbar thumb color */
}

body::-webkit-scrollbar-track {
  background-color: #191919; /* Set scrollbar track color */
}

body {
  background: #191919;
  color: white;
}
